### 2. Identify all the tables in your datamart whichcontain data that needs to be cleansed.

In [20]:
# apartment table has duplicate value (listing_id, host_id) - some are different by min/max night (with NULL)  which does not make sense

In [21]:
# host table - in case there are any duplicate host_id, we sum his #total listing

### 3. For each source table, write a Beam pipeline that normalizes the data from the table and creates a new table with the transformed data

In [5]:
%run apartment_beam.py

In [8]:
%run host_beam.py

### 4. Verify that the BigQuery output tables from the previous step contain a valid primary key

Referential Integrity:
Primary key (listing_id, host_id) of apartment_Beam table

Check the number of rows in the apartment_Beam table

In [2]:
%%bigquery
SELECT count(*) FROM (SELECT listing_id, host_id FROM datamart.apartment_Beam)

   f0_
0   98

Check the number of distince rows in the apartment_Beam table
(the number should be the same as the previous number)

In [7]:
%%bigquery
SELECT DISTINCT count(*) FROM (SELECT listing_id, host_id FROM datamart.apartment_Beam)

   f0_
0   98

Referential Integrity:Primary key (host_id) of host_Beam table

Check the number of rows in the host_Beam table

In [4]:
%%bigquery
SELECT count(*) host_id FROM datamart.host_Beam

   host_id
0      100

Check the number of distinct rows in the host_Beam table (the number should be the same as the previous number)

In [5]:
%%bigquery
SELECT DISTINCT count(*) host_id FROM datamart.host_Beam

   host_id
0      100

Referential Integrity: Foreign Key (host_id) of apartmen_Beam table
Checking FK (host_id) of apartment_Beam references PK (host_id) of host table (Result should be zero if the referential integrety of FK host_id is valid)

In [6]:
%%bigquery
SELECT count(host_id) FROM datamart.apartment_Beam WHERE host_id NOT IN (select host_id from datamart.host)

   f0_
0    0